## exports
# standard functions
export(initGrid)
export(initSOM)
export(trainSOM)
export(projectGraph)

# myGrid S3 functions
S3method(print,myGrid)
S3method(summary,myGrid)
S3method(plot,myGrid)

# paramSOM S3 functions
S3method(print,paramSOM)
S3method(summary,paramSOM)

# somRes S3 functions
S3method(print,somRes)
S3method(summary,somRes)
S3method(plot,somRes)
S3method(predict,somRes)